{
	"semi": true,
	"trailingComma": "none",
	"singleQuote": true,
	"printWidth": 150,
	"useTabs": false,
	"quoteProps": "consistent",
	"bracketSameLine": true,
	"endOfLine": "lf",
	"singleAttributePerLine": true
}
